/* 桌機版 */
.mainNav{
    @apply flex gap-3 uppercase justify-center;
    :global(.listItem){


    }
    :global(.link){
        @apply text-[var(--m-navMain-text)] px-0.5 inline-block;
        @apply relative;
        &[aria-current=page],&.current{
            @apply text-[var(--m-navMain-text-active)];
            &::after{
                @apply content-[''] absolute left-1/2 top-1/2 w-0 h-0.5 bg-primary/50;
                animation: navMainLine .5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
            }
        }

    }

    :global(a.link){
        @apply transition-colors duration-700 ease-out ;
        &:hover,&:focus{
            @apply text-primary;
        }
        span{
            @apply relative z-10;
        }
    }
}
@keyframes navMainLine {
    from {
        width: 0;
        left: 50%;
    }
    to {
        width: 100%;
        left: 0;
    }
}
/* 手機版 */
.mainNavWp{
    @media not all and (min-width: 1280px) {
        @apply fixed top-[50px] left-0 right-0 bottom-[100px] bg-[var(--m-body)] z-50 ;
        @apply border-t border-b border-white/5;

    }

}
.mainNav{
    @apply max-xl:flex-col max-md:gap-6 max-xl:gap-12 max-xl:justify-center max-xl:h-full max-xl:px-[10%];
    :global(.link){
        @apply max-md:text-2xl max-xl:text-6xl;
    }
}
