.header{
    @apply flex justify-between items-center container mx-auto gap-3 xl:gap-5;
    @apply max-w-3xl h-[50px] xl:h-[180px];
    /*@apply transition-all ease-out duration-500;*/

    .headerNavToggle{
        @apply  xl:hidden;
        :global(body.nav-open) &{

        }
    }
}

/* 手機版 */
/*選單整個下拉區塊*/
.headerMenuWrapper{
    @media not all and (min-width: 1280px) {
        @apply fixed left-0 right-0 pt-[50px] top-0 h-full bg-[var(--m-body)] flex flex-col;

        clip-path: inset(0 0 100% 0); /* 初始狀態：完全裁剪 */
        transition: clip-path 0.7s cubic-bezier(0.25, 0.1, 0.25, 1);

    }
    /* 收合 */
    :global(body:not(.nav-open)) &{
        @media not all and (min-width: 1280px) {
            transition: clip-path 0.7s cubic-bezier(0.4, 0, 1, 1); /* 收起時的過渡效果，由慢到快 */
        }
    }

    :global(body.nav-open) & {
        @media not all and (min-width: 1280px) {
            clip-path: inset(0 0 0 0); /* 完全顯示 */
        }
    }
}
/*主選單*/
.mainNavWrapper{
    @apply max-xl:border-t max-xl:border-white/5 max-xl:flex-1 max-xl:flex max-xl:flex-col;
}