/* 參數值請自行修改*/
@layer base {
    /*標題：有固定的大小、粗細、行高*/
    .display-1{
        @apply text-8xl font-bold leading-tight;
    }
    .display-2{
        @apply text-8xl font-bold leading-tight;
    }
    h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
        @apply font-bold;
    }
    h1,.h1{
        @apply text-5xl  leading-tight;
    }
    h2,.h2{
        @apply text-[25px]  leading-tight;
    }
    h3,.h3{
        @apply text-4xl  leading-tight;
    }
    h4,.h4{
        @apply text-4xl  leading-tight;
    }
    h5,.h5{
        @apply text-4xl  leading-tight;
    }
    h6,.h6{
        @apply text-4xl  leading-tight;
    }

    button{
        border-width:0;
    }

    :root {


        /*主色*/
        --m-primary:rgb(243  29 61);
        --m-primary-rgb:243  29 61;
        --m-primary-light:rgb(147, 197, 253);
        --m-primary-light-rgb:147 197 253;
        --m-primary-subtlet: rgb(177, 214, 255);
        --m-primary-subtle-rgb:177 214 255;
        --m-primary-emphasis: rgb(69, 148, 244);
        --m-primary-emphasis-rgb:69 148 244;
        --m-primary-dark: rgb(43, 136, 248);
        --m-primary-dark-rgb:43 136 248;

        /*次要色*/
        --m-secondary:rgb(133 133 133);
        --m-secondary-rgb:133 133 133;
        --m-secondary-light:rgb(203 213 225);
        --m-secondary-light-rgb:203 213 225;
        --m-secondary-dark:rgb(100 116 139);
        --m-secondary-dark-rgb:100 116 139;

        /*第三級*/
        --m-tertiary: rgb(190  190  190);
        --m-tertiary-rg: 190  190  190;
        --m-tertiary-light:rgb(230 230 230);
        --m-tertiary-light-rg:230 230 230;
        --m-tertiary-dark:rgb(170 170 170);
        --m-tertiary-dark-rgb:170 170 170;

        /*第四級*/
        --m-quaternary: rgb(243  29 61);
         --m-quaternary-rg: 243  29 61;

        /*第五級*/
        --m-quinary: rgb(230, 0, 255);
        --m-quinary-rg: 230 0 255;


        /*success*/
        --m-success:rgb(25, 135, 84);
        --m-success-rgb: 25  135 84;

        /*danger*/
        --m-danger:rgb(220, 53, 69);
        --m-danger-rgb: 220  53 69;

        /*info*/
        --m-info:rgb(13, 202, 240);
        --m-info-rgb: 13 202 240;

        /*warning*/
        --m-warning:rgb(255, 193, 7);
        --m-warning-rgb: 255  193 7;

        /*error*/
        --m-error: rgb(172, 70, 255);
        --m-error-rgb: 172  70 255;

        /*light*/
        --m-light:rgb(248, 249, 250);
        --m-light-rgb: 248 249 250;

        /*dark*/
        --m-dark:rgb(33, 37, 41);
        --m-dark-rgb: 33 37 41;

        /*主體：預設文字（顏色）*/
        --m-body-color:theme('colors.white');

        /*主體：預設背景（顏色）和背景，包括元件*/
        --m-body:rgba(10, 20, 52, 1);;


        /*navMain*/
        --m-navMain-text: rgb(255, 255, 255, 0.5);
        --m-navMain-text-hover: rgb(255, 255, 255, 1);
        --m-navMain-text-active: rgb(255, 255, 255, 0.5);

    }


}

