@layer components {
    .input_file_hidden{
        @apply opacity-0 w-full h-full absolute left-0 top-0 font-[0];
    }
    .btn {
        @apply bg-transparent text-inherit font-normal text-base leading-normal text-center align-middle cursor-pointer
        border-0 rounded-none shadow-none p-0 m-0 inline-block
        hover:bg-transparent hover:text-inherit hover:border-transparent
        focus:outline-none focus:shadow-none
        active:bg-transparent active:text-inherit active:border-transparent
        disabled:opacity-100 disabled:cursor-not-allowed;
    }
    .container{
        @apply max-w-full;
    }
    .container-px{
        @apply px-3 tablet:px-5 desktop:px-7 3xl:px-0 3xl:max-w-3xl;
    }
}
